<div
  class="search"
  style="
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-end;
    align-items: baseline;
    padding-left: 500px;
  "
>
  <button
    style="margin: 10px; height: 59px"
    mat-flat-button
    color="primary"
    routerLink="/admin/product"
  >
    Post Product
  </button>
  <form
    [formGroup]="searchProductForm"
    class="search-form"
    (submit)="submitForm()"
  >
    <mat-form-field appearance="outline" class="search-input">
      <mat-label>Enter Keyword to search</mat-label>
      <input matInput formControlName="title" type="text" />
      <button
        mat-button
        matSuffix
        color="primary"
        [disabled]="searchProductForm.invalid"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <div [formGroup]="searchProductFormByCategory">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Select a Category</mat-label>
      <mat-select
        formControlName="categoryId"
        name="categoryId"
        (selectionChange)="getProductByCategory($event.value)"
      >
        <mat-option
          *ngFor="let category of listCategories"
          [value]="category.id"
        >
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="product-grid">
  <mat-card *ngFor="let product of products" class="product-card">
    <div class="product-image-container">
      <img
        mat-card-image
        style="max-width: 200px; max-height: 200px"
        [src]="product.processedImg"
        alt="{{ product.img }}"
      />
    </div>
    <mat-divider></mat-divider>
    <mat-card-content>
      <h2 class="product-name">{{ product.name }}</h2>
      <p class="product-description">{{ product.description }}</p>
      <div class="product-details">
        <p><strong>ID:</strong> {{ product.id }}</p>
        <p><strong>Price:</strong> {{ product.price | currency }}</p>
        <p><strong>Category:</strong> {{ product.categoryName }}</p>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>

    <div class="button-container" style="margin: 12px">
      <button mat-flat-button [routerLink]="'/admin/faq/' + product.id">
        FAQ
      </button>
      <button
        mat-flat-button
        color="accent"
        [routerLink]="'/admin/product/' + product.id"
      >
        Update
      </button>
      <button mat-flat-button color="warn" (click)="deleteProduct(product.id)">
        Delete
      </button>
    </div>
  </mat-card>
</div>
