<div class="cart-containner">
  <ng-container *ngIf="products && products.length > 0; else noProduct">
    <div class="cart-item" *ngFor="let product of products">
      <div class="product-info">
        <div class="product-image">
          <img [src]="product.processedImg" alt="product-img" />
        </div>
        <div
          class="product-detail"
          routerLink="/customer/product/{{ product.productId }}"
          style="cursor: pointer"
        >
          <div class="item-row">
            <div class="item-name">
              {{ product.productName }}
            </div>
            <div class="item-price">
              <b>{{ product.price | currency }}</b>
            </div>
          </div>
          <div><b>Description:</b> {{ product.productDescription }}</div>
        </div>
        <button mat-icon-button>
          <mat-icon style="color: red" class="icon">shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </ng-container>
  <ng-template #noProduct>
    <div class="no-product-message">Wish List is Empty</div>
  </ng-template>
</div>
