<div class="cart-containner">
  <div class="cart-item">
    <div class="product-info">
      <div class="product-image">
        <img [src]="product.processedImg" alt="product-img" />
      </div>
      <div class="">
        <div class="">
          <div class="item-name">
            {{ product.name }}
          </div>
        </div>

        <div class="item price-item">
          <b>Price:</b> {{ product.price | currency }}
        </div>
        <div class="item"><b>Description:</b> {{ product.description }}</div>
        <div class="item"><b>Category:</b> {{ product.categoryName }}</div>
        <div class="action" style="display: flex; direction: rtl">
          <div
            *ngIf="isWishList"
            style="margin-right: 50px; color: red"
            (click)="deleteWishList(wishList.id)"
          >
            <mat-icon>favorite</mat-icon>
          </div>

          <div
            mat-mini-fab
            disabled
            *ngIf="!isWishList"
            style="margin-right: 50px"
            (click)="addProductToWishList()"
          >
            <mat-icon>favorite_border</mat-icon>
          </div>

          <div
            style="margin-right: 50px; color: rgb(6, 172, 6)"
            (click)="addToCart()"
          >
            <mat-icon>shopping_cart</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cart-containner">
    <h3>Frequently Asked Questions</h3>
    <div class="cart-item">
      <ul>
        <li *ngFor="let faq of FAQs">
          <div class="item">{{ faq.question }} - {{ faq.answer }}</div>
        </li>
      </ul>
    </div>
  </div>

  <div class="cart-containner">
    <h3>Customer Reviews</h3>
    <div class="cart-item">
      <div *ngFor="let review of reviews" class="review-item">
        <div class="user-info">
          <img
            class="img-review"
            src="
          "
            alt="User Avatar"
          />
          <b>{{ review.username }}</b>
        </div>

        <div class="rating">
          <span *ngFor="let _ of getStars(review.rating)">
            <mat-icon>star</mat-icon>
          </span>
        </div>
        <img class="img-review" [src]="review.processedImg" alt="User Avatar" />
        <p>{{ review.description }}</p>
      </div>
    </div>
  </div>
</div>
